
*{
  font-family: "Poppins", sans-serif;
  
}

/* Fonts Style*/

.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.playfair-display-<uniquifier> { 
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}



/* Navbar start*/


#logo{

    width: 70px;
    height: 70px;
}
#title{
    padding-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    
}

.search-input {
    max-width: 500px;
    border-radius: 50px;
    padding: 8px 18px;
}
.search-box{
    padding-left: 200px;
}

@media (max-width: 992px) {
    .search-box {
        width: 70%;
        margin-top: 10px;
        padding: 0;
    }
}

.navbar-nav .nav-link {
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px; 
    font-weight: 700; 

}
    
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus{
    background: linear-gradient(45deg,#FCE38A,#7117ea,#FF7676,#184E68,#F02FC2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease;
    transform: scale(1.2);
    letter-spacing: 2px;
       
}

.nav-link{
    user-select: none;
    transition: transform 0.3s ease, 
                letter-spacing 0.3s ease,
                -webkit-text-fill-color 0.3s ease,
                color 0.3s ease;

}
.dropdown-item {
    text-align: justify;
    user-select: none;
    transition: transform 0.3s ease,
                letter-spacing 0.3s ease,
                color 0.3s ease,
                -webkit-text-fill-color 0.3s ease;
}
.dropdown-item:hover,
.dropdown-item:focus {
    background: linear-gradient(45deg,#FCE38A,#7117ea,#FF7676,#184E68,#F02FC2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.12);
    letter-spacing: 1px;
}


.content-box{
    width: 100%;
    height: 355px;
    
    border-radius: 10px;
}

/* Navbar End */


/*  Page 1 start */

.content-box{
    background: white;
    border-radius: 15px;
    overflow: hidden;
    height: 380px;
    display: flex;
    flex-direction: column;
    /* box-shadow: offsetX offsetY blur spread color; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.top{
    display: flex;
    text-align: left;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    
}

.top h5{
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;

}
.bottom{
    flex: 1; 
    width: 100%;
    overflow: hidden;
}

.bottom img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.top p{
    font-size: 15px;
    margin-bottom: 10px;
    text-align: justify;
}


h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.top .btn{
    margin: 10px auto 0 auto;
    width: 140px;
    background-color: black;
    
}

.shiftup{
    object-fit: cover;
    object-position: center 25%;
}
.dragdown{
    object-fit: cover;
    object-position: center 55%;
}


/* Page 1 End */


/* Page 2 start */
.box {
        border: 2px solid black;
        height: 232px;
        border-radius: 10px;
        margin-bottom: 20px;
}

/* First */
.column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

}
.small-btn {
    width: 100%;
    height: 60px;
    border: 2px solid black;
    border-radius: 12px;
    background: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: black;
}

.small-btn:hover {
    background: black;
    color: white;
    transform: scale(1.05);
}






/* Page 2 End */ 









