
*{
  font-family: "Poppins", sans-serif;
  
}
/* Fonts Style*/

.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.playfair-display-<uniquifier> { 
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.cormorant-<uniquifier> {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* Navbar start*/

.navbar{
    height: 90px;
}

@media (max-width: 502px) {
    .search-box {
        width: 70%;
        margin-top: 10px;
    }
    .navbar{
        height: auto;

    }
}



.sticky-top{
    position: sticky;
    top: 0;
    background: white;
    z-index: 1020;
}

#logo{

    width: 60px;
    height: 60px;
}
#title{
    white-space: nowrap;
    padding-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    
}

.search-input {

    border-radius: 50px;
    padding: 8px 18px;
}
.search-box{
    padding-left: 55px;
}


.navbar-nav .nav-link {
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px; 
    font-weight: 700; 

}
    
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus{
    background: linear-gradient(45deg,#FCE38A,#7117ea,#FF7676,#184E68,#F02FC2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease;
    transform: scale(1.2);
    letter-spacing: 2px;
    text-shadow: none;
       
}

.nav-link{
    user-select: none;
    transition: transform 0.3s ease, 
                letter-spacing 0.3s ease,
                -webkit-text-fill-color 0.3s ease,
                color 0.3s ease;

}
.dropdown-item {
    text-align: justify;
    user-select: none;
    transition: transform 0.3s ease,
                letter-spacing 0.3s ease,
                color 0.3s ease,
                -webkit-text-fill-color 0.3s ease;
}
.dropdown-item:hover,
.dropdown-item:focus {
    background: linear-gradient(45deg,#FCE38A,#7117ea,#FF7676,#184E68,#F02FC2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.12);
    letter-spacing: 1px;
    text-shadow: none;
}


.content-box{
    width: 100%;
    height: 355px;
    
    border-radius: 10px;
}

#navbar {
    background: url("image/mountainous-ecosystem.jpg");
    background-size: cover;
    background-position: center;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

#navbar .nav-link,
#navbar #title{
    color: white;
}

#navbar #title{
    text-shadow: 2px 2px 6px black;
}

@media (max-width: 991px){
    #navbar .nav-link{
    color: black;
    }
}

.navbar-toggler i {
    color: white;
}

#navbar.scrolled {
    background: white;                
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

#navbar.scrolled .nav-link,
#navbar.scrolled #title,
#navbar.scrolled .navbar-toggler i {
    color: black ;
    text-shadow: none;
}

/* Navbar End */


/* -------- Project Page CSS starts ------*/

#project {
    margin-top: 120px;
}

.content-box{
    background: white;
    border-radius: 15px;
    overflow: hidden;
    height: 380px;
    display: flex;
    flex-direction: column;
    /* box-shadow: offsetX offsetY blur spread color; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.35s ease-in-out,
                box-shadow 0.35s ease-in-out;
}

.content-box:hover,
.content-box:focus{
    transform: scale(1.03);
    transition: 0.3 ease-in-out;
}
.top{
    display: flex;
    text-align: left;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    
}

.top h5{
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;


}
.bottom{
    flex: 1; 
    width: 100%;
    overflow: hidden;
}

.bottom img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.top p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 15px;
    text-align: justify;


}

.top .btn{
    margin: 10px auto 0 auto;
    width: 140px;
    background-color: black;
    
}

.shiftup{
    object-fit: cover;
    object-position: center 25%;
}
.dragdown{
    object-fit: cover;
    object-position: center 55%;
}

.top .btn:hover{
    
}
/* Page 1 End */


/* Page 2 start */

#campaign h5,
.second-row p,
.first-row p{
      text-shadow: 2px 2px 6px black;
      color: white;
      padding: 0px 10px;

}
.box {
        height: 238px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;

        
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    transition: 0.4s ease;
    filter: blur(0px);
    opacity: 0;
    top: -8px;     
    left: -8px;
    right: -8px;
    bottom: -8px;

}

.box:hover::before,
.box:focus::before  {
    filter: blur(6px);
    opacity: 1;
}

.box *{
    position: relative;
    z-index: 2;
}

.box:hover,
.box:focus{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
@media (max-width: 1200px) {
    .box {
        min-height: auto;
        height: auto;
    }
}
@media (max-width: 992px) {
    .box {
        min-height: auto;
        height: auto;
    }
}

/* ----- First Row ----- */
.column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;


}

.overview{
    background-image: url("image/Sustainability-Risk-Mitigation-Blog.jpg");
    color: white;

}

.overview::before{
    background-image: url("image/Sustainability-Risk-Mitigation-Blog.jpg");
    background-size: cover;
    color: white;

}

.impact{
    background-image: url("image/impact.png");
    color: white;
}

.impact::before{
    background-image: url("image/impact.png");
    color: white;
}

.small-btn {
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: black;
}

.small-btn:hover,
.small-btn:focus {
    background: black;
    color: white;
    transform: scale(1.05);
}

.first-row p{
    text-align: justify;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;

}

.first-row .box {
    height: 100%;
}

/* ------ Second Row ----- */

.report{
    background-image: url("image/Sustainability Analysis Australia.png");
    color: white;
}

.webinar{
    background-image: url("image/webinar.jpg");
    color: white;
}

.community{
    background-image: url("image/community.jpg");
    color: white;
}
.donation{
    background-image: url("image/Introduction-to-Real-World-Sustainability-2.jpg");
    color: white;
    
}

.report::before {
    background-image: url("image/Sustainability Analysis Australia.png");
}
.webinar::before {
    background-image: url("image/webinar.jpg");
}
.community::before {
    background-image: url("image/community.jpg");
}
.donation::before {
    background-image: url("image/Introduction-to-Real-World-Sustainability-2.jpg");
}
.second-row p{
    text-align: justify;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.second-row .box {
    height: 100%;
}


/* Third Row */

#campaign li{
    text-shadow: 2px 2px 6px black;
    color: white;
}

.third-row{
    background-color: lightgrey;
    padding-bottom: 35px;
    border-radius: 10px;

}

.third-row .box{
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
}
.text{
    padding-top: 15px;
    text-align: justify;
}

.second-page h5{
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 10px 0px;

}
.third-row p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 15px;
    padding: 10px;
    text-align: justify;
    color: black;
    text-shadow: none;
}

#barimg{
    width: 100%;
    height: auto;
    
    object-fit: contain;
    object-position: center;
}

.third-row ul{
    text-align: justify;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
    padding-left: 15px;
}

.project-co:hover,
.project-co:focus{
    transform: scale(1.02);
}

.pro-impact{
    background-image: url("image/Energy-efficiency-in-buildings.jpeg");
}

.pro-impact::before{
    background-image: url("image/Energy-efficiency-in-buildings.jpeg");
}
/* Page 2 End */ 


/* Form Validation */

#form-validate{
    h3{
        font-family: "Bebas Neue", sans-serif;
    }
    label{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
        text-shadow: 2px 2px 6px black;
        color: white;
    }
    ::placeholder{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
    }
    
    select{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
    }
}
.form-box {
        background: white;
        padding: 25px;
        border-radius: 12px;
        box-shadow: 0 4px 20px gray;
        margin-bottom: 30px;
    }
.error {
        color: red;
        font-size: 14px;
        display: none;
    }
    

.align-btn{
    margin-top: 102px;
}

@media (max-width: 992px){
    .align-btn{
    margin-top: 20px;
    }

}

.volunteer-bg {
    background-image: url("image/bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 25px;
}

.donation-bg {
    background-image: url("image/donate.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 25px;
}

.form-bg{
    background-image: url("image/");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


