@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Bungee+Spice&family=Dancing+Script:wght@400..700&family=Honk&family=Inconsolata:wght@200..900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "BBH Sans Hegarty", sans-serif;
}
.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Navbar start*/

#title{
    font-family: "BBH Sans Hegarty", sans-serif;
    
}

a{
    font-family: "BBH Sans Hegarty", sans-serif;
    color: lightgreen;
}
    
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus{
    background: linear-gradient(45deg,#FCE38A,#7117ea,#FF7676,#184E68,#F02FC2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease;
    transform: scale(1.2);
    letter-spacing: 2px;
       
}

.nav-link{
    user-select: none;
    transition: transform 0.3s ease, 
                letter-spacing 0.3s ease,
                -webkit-text-fill-color 0.3s ease,
                color 0.3s ease;

}
.dropdown-item {
    user-select: none;
    transition: transform 0.3s ease,
                letter-spacing 0.3s ease,
                color 0.3s ease,
                -webkit-text-fill-color 0.3s ease;
}
.dropdown-item:hover,
.dropdown-item:focus {
    background: linear-gradient(45deg,#FCE38A,#7117ea,#FF7676,#184E68,#F02FC2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.12);
    letter-spacing: 1px;
}


.content-box{
    width: 100%;
    height: 355px;
    border: 2px solid black;
    border-radius: 10px;
}

/* Navbar End */


/*  Page 1 start */

.forest{
    color: white;
    background-image: url("image/Deforestation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.biodiversity{
    color: white;
    background-image: url(https://media.greenmatters.com/brand-img/a-2WmJC46/0x0/biodiversity-1586888274823.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ecosystem{
    color: green;
    background-image: url("image/mountainous-ecosystem.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.land{
    color: white;
    background-image: url(https://images.pexels.com/photos/60013/desert-drought-dehydrated-clay-soil-60013.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h5 {
    text-align: center;
}



/* Page 1 End */


/* Page 2 start */
.box {
        border: 2px solid black;
        height: 232px;
        background-color: white;
        border-radius: 10px;
}






/* Page 2 End */ 









